.section-education {
    background-color: $accent-color;
    padding-top: 3.125rem;
    padding-bottom: 6.25rem;
    .education-title {
      margin-bottom: 0.625rem;
    }
  }
  .timeline {
    background-color: $background-usial;
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    border: 2px solid $under-avatar-color;
    .left {
      left: 0;
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 15px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent $under-avatar-color;
      }
    }
    .right {
      left: 50%;
      &::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 15px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent $under-avatar-color transparent transparent;
      }
      &::after {
        left: -16px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      width: 6px;
      background-color: #bdd9bf;
      top: 0;
      bottom: 0;
      left: 50%;
      margin-left: -3px;
    }
    .timeline-container {
      position: relative;
      background-color: inherit;
      width: 50%;
      .content {
        padding: 20px 30px;
        position: relative;
        border-radius: 6px;
        h2 {
          padding-bottom: 1rem;
        }
        p {
          padding-bottom: 0.3125rem;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: white;
        border: 4px solid $under-avatar-color;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
    }
  }
  
  @media screen and (max-width: 650px) {
    .timeline {
      &::after {
        left: 31px;
      }
      .left::after,
      .right::after {
        left: 15px;
      }
      .right {
        left: 0%;
      }
      .timeline-container {
        width: auto;
        padding-left: 70px;
        padding-right: 25px;
        &::before {
          left: 60px;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
      }
    }
  }